*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;

}

.coin-search{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-text {
    padding-left: 16px;
    text-align: center;
}

.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}

.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px; 
}

.coin h1{
    font-size: 16px;
    width: 150px;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 110px;
}

.coin-marketcap{
    width: 155px;
}

.coin-volume{
    width: 230px;
}

.coin-percent {
    width: 100%;
}

.red{
    color: #f00606
}

.greed{
    color: #11d811;
}

