body {
    background-color: #212529e6;
    color: white;
}

.main-container{
    max-width: 768px;
}

.navbar-brand img{
    margin-top: -5px;
}

.navbar-brand-name{
    margin-left: 10px;
}

.react-icon{
    margin-top: -4px;
    margin-right: 2.5px;
}

.carousel a{
    color: whitesmoke;
    text-decoration: none;
}

.carousel-item img{
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

.footer {
    color: lightgray;
}

.footer a{
    color: whitesmoke;
    text-decoration: none;
}